/* this is css for main page */

body{
	 font-family: 'Open Sans Condensed', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00BFFF;
    height: 68px;
    width: 1300px;
}
li {
    float: left;
    height: 68px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 45px; 
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #808080;
     height: 68px;
}
.social{
	float: right;
}
.logo{
    float: left;
    width: 200px;
    font-size: 3em;
    color: black;
    text-align: left;
    font-style: bold;
  	padding: 10px;
}
h5{
	float: left;
	width: 700px;
	font-size: 3em;
}
.pics{
	float: right;
	display: inline-block;
    padding-top: 170px;
    padding-right: 67px;
}
.maintxt{
	float: left;
	width: 800px;
    padding: 30px;
    margin: 5px;
    color: black;
    padding-left: 70px;
}

.pics2{
    float: left;
    clear: left;
    padding: 30px;
    padding-top: 127px;
    padding-left: 60px;
}

.maintxt2{
    float: left;
    width: 800px;
    padding-top: 0px;
    color: black; 
    padding-left: 60px; 
}
footer {
	width: 960px;
	margin: 10px 10px;
	padding: 20px;
	float: left;
}


/*End of Jonnathon's CSS */
/* Taylor's section of CSS */


body{
	width:95%;
}
h1{
	width: 250px;
	float: left;
	margin: 0 auto;
}
nav {
	width: 710px;
	float: left;
}
nav ul li{
	display: inline;
	padding: 30px;
	margin: 20px 20px;
	list-style-type: none;
}
nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}
#why #turtle {
	width: 100%;
	margin: 10px;
	padding: 10px;
}
#why section{
	box-sizing:border-box;
}
#why #why_wrapper{
	width: 960px;
	max-width: 960px;
	margin: 0 auto;
}
#why aside {
	width:200px;
	float:left;
}
#why aside .inner{
	margin: 10px;
	padding: 10px;
}
#why article{
	width:760px;
	float: left;
}
#why article .inner{
	margin: 10px;
	padding: 10px;
}

/* This is Christian's section of CSS */

#donate {
	margin: auto;
	margin-left: 50px;
	margin-top: 20px;
	padding: 20px;
}

#donate .title {
	clear: left;
	height: 80px;
	background-image: url("../images/underwater.jpg");
	color: white;
	padding-left: 20px;
	margin-top: 50px;
	font-size: 50px;
}

#donate .images {
	text-align: center;
}

#donate .body_block {
	width: 920px;
	margin: 0 auto;
}

#donate .body_block .header_1 {
	background-color: #000099;
	color: white;
	padding-left: 10px;
}

#donate .body_block .donation_amounts a {
	padding: 10px 12px;
	margin-right: 20px;
	text-align: center;
	width: 50px;
	border: 2px solid black;
	color: white;
	background-color: black;
	display: inline-block;
	border-radius: 5px;
}

#donate .body_block .donation_amounts a:hover {
	background-color: #006699;
	border: 2px 002233;
}


#donate .body_block .billing_details  {
	margin-left: 20px;
}

#donate .body_block .left_block {
	width: 30%;
	display: inline-block;
}

#donate .body_block .right_block {
	width: 70%;
	display: inline-block;
	float: right;
}

#donate .body_block .payment_methods a {
	padding: 10px 12px;
	margin: 0 20px 20px 0;
	text-align: center;
	width: 100px;
	border: 2px solid black;
	color: white;
	background-color: black;
	display: inline-block;
	border-radius: 5px;
}

#donate .body_block .payment_methods a:hover {
	background-color: #006699;
	border: 2px 002233;
}

#donate .body_block .submit_payment a {
	width: 200px;
	height: 30px;
	padding: 10px 12px 0 0;
	margin: 30px 20px 20px 0px;
	text-align: center;
	border: 5px solid #999966;
	color: white;
	background-color: #ff751a;
	display: inline-block;
	border-radius: 5px;
}

/* End Christian's section */
