body{
	width: 95%;
	font-family: "Palatino Linotype", Palatino, serif;
}
header{
	width: 960px;
	margin: 0 auto;
	padding: 30px;
}
#why h1{
	width: 150px;
	float: left;
	margin: 0 auto;
}
#why nav {
	width: 810px;
	float: left;
}
#why nav ul li{
	display: inline;
	padding: 30px;
	margin: 20px 20px;
	list-style-type: none;
}
#why nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}
#why #turtle {
	width: 100%;
	margin: 10px;
	padding: 10px;
}
#why section{
	box-sizing:border-box;
}
#why #why_wrapper{
	width: 960px;
	max-width: 960px;
	margin: 0 auto;
}
#why aside {
	width:200px;
	float:left;
}
#why aside .inner{
	margin: 10px;
	padding: 10px;
}
#why article{
	width:760px;
	float: left;
}
#why article .inner{
	margin: 10px;
	padding: 10px;
}
footer {
	width: 960px;
	margin: 0 auto;
}
@media all and (max-width: 980px) and (min-width: 400px) {
	/*When the text starts to appear cut off */
	header, footer, #why #why_wrapper, #why nav {
		width: 100%;
	}
	#why h1, #why nav {
		float: none;
	}
	#why h1{
		margin: 0;
	}
	#why nav ul li a {
		display:block;
		padding: 0px;
		margin: 0px;
	}
	#why aside {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#why aside .inner{
		margin: 1px 10px;
		padding: 10px 10px;
	}
	#why article {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	footer {
		margin: 0;
		padding: 0;
	}
}